@charset "UTF-8";
/* CSS Document */

body {
    background-color: black;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

a {
    color: #fff;
}

header {
    display: flex;
    align-items:flex-end;
    padding: 1em 0 1.3em 0;
}
#logo {
    width: 160px;
    margin: 0 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}
#projects div {
    padding: 0 20px 15px 20px;
}

ul {
    list-style: none;
}

#publishing, #team, footer {
    padding-left: 20px;
}